.dynamicView {

    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 10px;

    background: #f3f3f3;

    max-width: auto;
    max-height: auto;
    width: 100%;
    height: 100%;
}


.card {

    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px;
    margin: 10px;
}

.card-link {

    -webkit-transition: width .25s;
    transition: .25s;
}


.card-link:hover {

    box-shadow: 0 20px 22px rgba(0, 0, 0, 0.5);
    background-color: #FAFEFF;
    cursor: pointer;
}

.card-link:active {

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: white;
    cursor: pointer;
}

.content {

    min-height: 100%;
    height: 100%;
    padding-top: 80px;
}

.statsCard {
    
    min-width: 350px;
    min-height: 250px;
    max-width: 350px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.statusBarWrapper {

    overflow: hidden;

    max-width: 300px;
    min-width: 150px;
    width: 300px;

    max-height: 30px;
    min-height: 20px;
    height: 30px;

    background-color: grey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px;

    margin: 10px auto;
    padding: 0;
}

.statusBar {

    max-width: 300px;
    min-width: auto;
    width: 0;

    max-height: 30px;
    min-height: 20px;
    height: 100%;

    float: left;
    background-color: green;
    border-radius: 3px 3px;
   
    -webkit-transition: width .25s;
    transition: .25s;

    margin: 0;
}

.statusBarCard {
   
    min-width: 350px;
    min-height: 100px;

    width: auto;
    height: auto;
}

.cardImg {

	margin: 0;
	min-width: 350px;
    min-height: 250px;
    max-width: 350px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    float: left;
}

#eventOptionsPrompt {
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 2px;
    padding-right: 5px;
}


#gotoAvailabilityCalendarCard {

    min-width: 300px;
    min-height: 250px;
    width: auto;
    height: auto;
}


#gotoCalendarCard {

    min-width: 450px;
    min-height: 420px;
    width: auto;
    height: auto;
}



#gotoMessagesCard {
    
    min-width: 570px;
    min-height: 150px;
    width: auto;
    height: auto;
}



#gotoAboutUsCard {
    
    min-width: 250px;
    min-height: 115px;
    width: auto;
    height: auto;    
}


#gotoHelpCard {

    min-width: 250px;
    min-height: 115px;
    width: auto;
    height: auto;
}


#clendarCard {
    background: white;
    max-width: 700px;
    min-width: 450px;
    max-height: 650px;
    min-height: 450px;

    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px;
    margin-left: 25px;
}


#chartCard {
    background: white;
    max-width: 450px;
    min-width: 350px;
    max-height: 200px;
    min-height: 100px;

    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px;
    margin: 10px;
}

#pieChartCard {

    background: white;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: 250px;

    width: 100%;
    height: 100%;    
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px;
    
    padding: 10px;

    margin: 10px;

    margin-right: 20px; 

    float: right;

}

#backCard {

    min-width: auto;
    min-height: 250px;

    width: 100%;
    height: 100%;

    float: left;
}


#dayViewBtn {

    min-width: 200px;
    min-height: 80px;

    width: auto;
    height: auto;
}


#deleteBtn {

    min-width: 100px;
    min-height: 80px;

    width: auto;
    height: auto;
}

#statsCardDefault {

	padding: 0;
	overflow: hidden;
}


