.calendarDirectiveButtonCard {

    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px;
    margin: 2px;
    min-height: 60px;
   
}

.calendarDirectiveButtonCard-link {

    -webkit-transition: width .25s;
    transition: .25s;
}


.calendarDirectiveButtonCard-link:hover {

    box-shadow: 0 20px 22px rgba(0, 0, 0, 0.5);
    background-color: #FAFEFF;
    cursor: pointer;
}

.calendarDirectiveButtonCard-link:active {

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: white;
    cursor: pointer;
}