.dayCardEventColumn {

	min-width: 60px;
	max-height: 120px;
	min-height: auto;
	max-width: 60px;

	background: #2BAFA5;
	
}

.dayCardText {

	display: block;
    font-size: .8em;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 8px #151717;
    color: white;
}

