#sandbox_mainContainer {	

	background: #f3f3f3;

	margin: 10px;

	min-height: auto;
	min-width: 1000px;
	max-height: auto;
	max-width: auto;

	width: 100%;
	height: 100%;

	padding: 20px;

	margin: 0;

}

#sandbox_mainRow_mainCol_mainCard {

	margin: 10px;

	max-height: 700px;
	max-width: 700px;

	min-height: 700px;
	min-width: 700px;

	width: 100%;
	height: 100%;	


}

#sandbox_mainRow_sideCol_topRow_card {

	margin: 10px;

	min-height: 300px;
	min-width: 350px;

	max-height: 300px;
	max-width: 350px;

	width: 100%;
	height: 100%;
}

#sandbox_mainRow_sideCol_midRow_card {

	margin: 10px;

	min-height: 275px;
	min-width: 350px;

	max-height: 300px;
	max-width: 350px;

	width: 100%;
	height: 100%;
}

#sandbox_mainRow_sideCol_bottomRow_mainCard {

	margin: 10px;

	min-height: 85px;
	min-width: 100px;

	max-height: 85px;
	max-width: 200px;

	width: 100%;
	height: 100%;
}

#sandbox_mainRow_sideCol_bottomRow_secondaryCard {

	margin: 10px;

	min-height: 85px;
	min-width: 140px;

	max-height: 85px;
	max-width: 140px;

	width: 100%;
	height: 100%;	
}

#sandbox_midRow_leftCol_card {

	margin: 10px;

	min-height: 85px;
	min-width: 800px;

	max-height: 300px;
	max-width: 800px;

	width: 100%;
	height: 100%;
}

#sandbox_midRow_rigtCol_card {

	margin: 10px;

	min-height: 85px;
	min-width: 250px;

	max-height: 300px;
	max-width: 250px;

	width: 100%;
	height: 100%;
}



#sandbox_smallView_mainRow_card {

	margin: 10px;

	max-height: 700px;
	max-width: 600px;

	min-height: 600px;
	min-width: 600px;

	width: 100%;
	height: 100%;
}

#sandbox_smallView_statsRow_card {

	margin: 10px;

	max-height: 300px;
	max-width: 600px;

	min-height: 300px;
	min-width: 600px;

	width: 100%;
	height: 100%;
}

#sandbox_smallView_secondarySatsRow_card {

	margin: 10px;

	max-height: 300px;
	max-width: 600px;

	min-height: 300px;
	min-width: 600px;

	width: 100%;
	height: 100%;
}


#sandbox_smallView_buttonsRow_viewButton_card {

	margin: 10px;

	max-height: 100px;
	max-width: 600px;

	min-height: 100px;
	min-width: 600px;

	width: 100%;
	height: 100%;

}

#sandbox_smallView_buttonsRow_deleteButton_card {

	margin: 10px;

	max-height: 100px;
	max-width: 600px;

	min-height: 100px;
	min-width: 600px;

	width: 100%;
	height: 100%;
}

#sandbox_smallView_bottomRow_card {

	margin: 10px;

	max-height: 300px;
	max-width: 600px;

	min-height: 700px;
	min-width: 600px;

	width: 100%;
	height: 100%;
}

