<div class="container container-fluid dynamicView">
	<div class="row">
		<div id="clendarCard" class="col-md-6">
		    <div id="theCalendar"></div>
		</div>
		<div class="col-md-4">
			<div id="statsCardTask" class="row container-fluid card statsCard" ng-show="vm.StatsCardTaskVisible">
			    <div class="row">	
			    </div>
			    <div class="row">
			    	<div class="col-xs-12 col-sm-12 col-md-12"><h3 class="text-center">{{vm.CurrentEvent.title}}</h3></div>
				</div>
				<div class="row">
			    	<div class="col-xs-12 col-sm-12 col-md-12"><h4 class="text-center">{{vm.CurrentEvent.start.toDate() | date:'fullDate'}}</h4></div>
				</div>
				<div class="row" ng-show="vm.CurrentEvent.DisplayTime.start">
			    	<div class="col-xs-4 col-sm-4 col-md-4">
			    		<h4 class="text-right">Start:</h4>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<h4 class="text-center">{{vm.CurrentEvent.DisplayTime.start}}</h4>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<div class="btn btn-sm btn-success" ng-click="vm.AddTimeToCurrentEvent(vm.CurrentEvent, 'start', -15, 'minutes');">
							<span aria-hidden="true">
				    			&minus;
				    		</span>
			    		</div>
						<div class="btn btn-sm btn-danger" ng-click="vm.AddTimeToCurrentEvent(vm.CurrentEvent, 'start', 15, 'minutes');">
							<span aria-hidden="true">
				    			&plus;
				    		</span>
			    		</div>
					</div>
			    </div>
			    <div class="row" ng-show="vm.vm.CurrentEvent.DisplayTime.end">
			    	<div class="col-xs-4 col-sm-4 col-md-4">
			    		<h4 class="text-right">End:</h4>
			    	</div>
			    	<div class="col-xs-4 col-sm-4 col-md-4">
						<h4 class="text-center">{{vm.CurrentEvent.DisplayTime.end}}</h4>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<div class="btn btn-sm btn-success" ng-click="vm.AddTimeToCurrentEvent(vm.CurrentEvent, 'end', -15, 'minutes');">
							<span aria-hidden="true">
				    			&minus;
				    		</span>
			    		</div>
						<div class="btn btn-sm btn-danger" ng-click="vm.AddTimeToCurrentEvent(vm.CurrentEvent, 'end', 15, 'minutes');">
							<span aria-hidden="true">
				    			&plus;
				    		</span>
			    		</div>
					</div>
				</div>
			</div>
			<div id="statsCardDefault" class="row container-fluid card statsCard" ng-show="vm.StatsCardDefaultVisible">
				<img src="img/stats-logo-metro.jpg" class="img-responsive cardImg" alt="Create events to see stats">
			</div>
			<div id="statsCardDay" class="row container-fluid card statsCard" ng-show="vm.StatsCardDayVisible">
			    <div class="container-fluid">
		    		<img src="img/stats-logo.png" class="img-responsive" alt="Create events to see stats">
			    </div>
			</div>
			<div id="taskStatusBarCard" class="row container-fluid card statusBarCard" ng-show="vm.StatusBarTaskCardVisible">
				<div class="row container-fluid">
					<div class="col-xs-4 col-sm-4 col-md-4">
			    		<h4 class="text-right">Total:</h4>
			    	</div>
			    	<div class="col-xs-7 col-sm-7 col-md-7">
						<h4 class="text-left">{{vm.CurrentEvent.TotalHours| number:2}} hours</h4>
					</div>
				</div>
				<div class="container-fluid row">
					<div class="col-md-12">
						<div id="taskStatusBarWrapper" class="statusBarWrapper container-fluid">
							<div id="taskStatusBar" class="statusBar container-fluid" ng-show="vm.StatuBarTaskVisible" style="width : {{vm.StatusBarTaskWidth}};">
								<!-- element css manipulated in vm to achieve effect -->
							</div>
						</div>
					</div>		
			    </div>
			</div>
			<div id="dayStatusBarCard" class="row container-fluid card statusBarCard" ng-show="vm.StatusBarDayVisible">
				<div class="row container-fluid">
					<div class="col-xs-4 col-sm-4 col-md-4">
			    		<h4 class="text-right">Total:</h4>
			    	</div>
			    	<div class="col-xs-7 col-sm-7 col-md-7">
						<h4 class="text-left">{{vm.DayStats.TotalHours | number:2}} hours</h4>
					</div>
				</div>
				<div class="container-fluid row">
					<div class="col-md-12">
						<div id="dayStatusBarWrapper" class="statusBarWrapper container-fluid">
							<div id="dayStatusBar" class="statusBar container-fluid">
								<!-- element css manipulated in vm to achieve effect -->
							</div>
						</div>
					</div>		
			    </div>
			</div>
			<div class="row container-fluid">
				<div class="col-md-5 container-fluid card card-link" id="dayViewBtn" ng-click="vm.EventOptionsInput('edit')">
					<h3 class="text-center">Day View</h3>
				</div>
				<div class="col-md-2 col-md-push-1 container-fluid card card-link" id="deleteBtn" ng-click="vm.EventOptionsInput('delete')">
					<h3 class="text-center">Delete</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div id="backCard" class="container-fluid card card-link" ui-sref="landing">
				<img src="img/back-logo-metro.jpg" class="img-responsive backImg" alt="Back to Dashboard">
			</div>			
		</div>
		<div id="monthStatsCard" class="col-md-9 container-fluid" ng-show="vm.StatsCardMonthVisible">
			<div class="row container-fluid card" id="monthStatusBarCard">
				<div class="row container-fluid">
					<div class="col-xs-4 col-sm-4 col-md-4">
			    		<h4 class="text-right">Total:</h4>
			    	</div>
			    	<div class="col-xs-7 col-sm-7 col-md-7">
						<h4 class="text-left">{{vm.MonthSats.TotalHours}} hours</h4>
					</div>
				</div>
				<div class="container-fluid row">
					<div class="col-md-12">
						<div id="monthStatusBarWrapper">
							<div id="monthStatusBar">
								<!-- element css manipulated in vm to achieve effect -->
							</div>
						</div>
					</div>		
			    </div>
			</div>
		</div>
	</div>
</div>
