<div class="container container-fluid dynamicView">
	<div class="row">
		<div class="col-md-3 card card-link" id="gotoCalendarCard">
			<h1 class="text-center">Goto Calendar</h1>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-3 card card-link" id="gotoAvailabilityCalendarCard" ui-sref="calendar">
					<h1 class="text-center">Availability</h1>
				</div>
				<div class="row">
					<div class="col-md-1 card card-link" id="gotoHelpCard" ui-sref="sandbox">
						<h1 class="text-center">Help</h1>
					</div>
					<div class="col-md-1 card card-link" id="gotoAboutUsCard" ui-sref="taskCard">
						<h1 class="text-center">About Us</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 card card-link" id="gotoMessagesCard" ui-sref="meterDirectiveTest">
					<h1 class="text-center">Meter Directive Test</h1>
				</div>
			</div>
		</div>
	</div>
</div>