<div class="container container-fluid content">
	<div class="row">
		<a ui-sref="calendar">
			<div class="col-md-3 card mainCard">
				<h1 class="text-center">Goto Calendar</h1>
			</div>
		</a>
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-3 card">
					<h1 class="text-center">Another link</h1>
				</div>
				<div class="row">
					<div class="col-md-1 smallCard">
						<h1 class="text-center">Another link</h1>
					</div>
					<div class="col-md-1 smallCard">
						<h1 class="text-center">Another link</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 longCard">
					<h1 class="text-center">Another link</h1>
				</div>
			</div>
		</div>
	</div>
</div>