<div id="meterDirectiveMainContainer_mobile">
	<div id="mainRow_mobile" class="container-fluid row">
		<div id="startHourDisplayCard_mobile" class="mobileTimeCard card container-fluid col-md-6">
			<div class="row container-fluid timeRow">
				<h5 class="text-center timeHeading">Start</h5>
			</div>	
			<div class="row container-fluid">
				<h4 class="text-center time">{{currentEvent.start.toDate() | date : 'h:mma'}} </h4>
			</div>
			<div class="row container-fluid buttonRow">
				<div id="start_minusButton_bottom_card_mobile" class="container-fluid buttonCard_mobile col-md-6" ng-click="DecrementStartTime('Short')">
					<div class="buttonText text-center container-fluid">
						-
					</div>
				</div>
				<div id="start_plusButton_bottom_card_mobile" class="container-fluid buttonCard_mobile col-md-6" ng-click="IncrementStartTime('Short')">
					<div class="buttonText text-center container-fluid">
						+
					</div>
				</div>
			</div>
		</div>
		<div id="endHourDisplayCard_mobile" class="mobileTimeCard card container-fluid col-md-6">
			<div class="row container-fluid timeRow">
				<h5 class="text-center timeHeading">End</h5>
			</div>	
			<div class="row container-fluid">
				<h4 class="text-center time">{{currentEvent.end.toDate() | date : 'h:mma'}} </h4>
			</div>
			<div class="row container-fluid buttonRow">
				<div id="end_minusButton_bottom_card_mobile" class="col-md-6 container-fluid buttonCard_mobile" ng-click="DecrementEndTime('Short')">
					<div class="buttonText text-center container-fluid">
						-
					</div>
				</div>
				<div id="end_plusButton_bottom_card_mobile" class="col-md-6 container-fluid buttonCard_mobile" ng-click="IncrementEndTime('Short')">
					<div class="buttonText text-center container-fluid">
						+
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="meterRow_mobile" class="row">
		<div id="meterCard_mobile" class="col-md-2 card container-fluid">
			<div id="meterWrapper_mobile" class="container-fluid" style="padding-left : {{MeterTop}}px; padding-right : {{MeterBottom}}px;">
				<div id="meter_mobile" class="container-fluid">
					<!-- Meter -->
				</div>
			</div>
		</div>
	</div>
</div>